<div class="container">
  <div class="mt-5 row justify-content-center">
    <mat-slide-toggle (input)="onSearchChange(input.value)" [(ngModel)]="isPrecision" class="mt-5">100% דיוק
    </mat-slide-toggle>

  </div>
  <div class="row justify-content-center">
    <form class="w-50 mt-5">
      <div class="form-group">
        <input type="email" #input (input)="onSearchChange($event.target.value)" class="p-4 shadow-sm form-control"
               id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="הכנס מילות מפתח">
      </div>
    </form>
  </div>

  <div class="row justify-content-center">
    <h6 class="pl-2" style="font-weight: 700;">סידור לפי:</h6>
    <mat-radio-group [(ngModel)]="sortBy" (change)="sort($event)" aria-label="Select an option">
      <mat-radio-button value="date">תאריך</mat-radio-button>
      <mat-radio-button value="results">תוצאות</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="row mt-5 justify-content-center" *ngIf="model && !isLoading">
    <div class=" col-5">
      <div class="my-card justify-content-between" *ngFor="let corruptFile of model.corruptFiles">
        <p class="mb-0 text-danger"> שגיאה </p>
        <span (click)="openFile(corruptFile.path)" class="link" style="direction: rtl">{{corruptFile.name}}</span>

      </div>

    </div>


    <div class="card shadow-sm col-7 p-0">

      <div class="my-card " *ngFor="let file of model.files">
        <div class="d-flex justify-content-between " style="direction: ltr">
          <div>
            <p class="align-self-center mb-0" style="font-size: 14px; width: fit-content"> {{ file.creationTime | date}}
              <mat-icon style="vertical-align: middle; font-size: 20px;"> contact_phone</mat-icon> {{file.phone}}
              <mat-icon style="vertical-align: middle; font-size: 20px;"> email</mat-icon> {{file.email}}

            </p>
          </div>
          <div>
            <button [matMenuTriggerFor]="menu" mat-icon-button color="accent">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="deleteItem(file.path)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                מחק
              </button>
              <button (click)="editMode(file.name)" mat-menu-item>
                <mat-icon>edit</mat-icon>
                ערוך שם קובץ

              </button>
            </mat-menu>
          </div>
        </div>


        <div class="pb-2 d-flex justify-content-end">
          <p class="mb-0 text-success font-weight-bold d-none">{{file.score}} </p>
          <span *ngIf="!file.isEditMode" (click)="openFile(file.path)" class="link"
                style="direction: rtl">{{file.name}}</span>

          <form class="w-100" (ngSubmit)="onEditChange(fileNameInput.value, file.name)" *ngIf="file.isEditMode">
            <mat-form-field class="w-100">
              <mat-label>ערוך שם קובץ</mat-label>
              <input #fileNameInput matInput [value]="file.name.replace(file.name.substr(file.name.lastIndexOf('.')).toString(),'')">
            </mat-form-field>
            <button (click)="file.isEditMode = false" mat-button color="warn">בטל</button>
            <button type="submit" mat-button color="primary">שמור</button>

          </form>

        </div>
        <div class="pb-2 d-flex align-content-start flex-wrap" style="direction: ltr">
          <div class="bg-success py-1 px-3 m-1"
               style="border-radius: 5px; width: fit-content; white-space: nowrap; font-size: 12px"
               *ngFor="let word of file.words">
            <p class="mb-0 text-white"> {{word}}</p>

          </div>

        </div>


      </div>

    </div>
  </div>

  <div class="spinner-border" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
  </div>
</div>
